

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  height: 100%;
  width: 100%;
}
#health {
  position: absolute;
  text-align: center;
  font-size: 2em;
  bottom: 0;
  left: 50%;
}
#health span {
  transform: translateX(-50%);
}
.scene {
  height: 100%;
  width: 100%;
}
#hazard1, #hazard2 {
  width: 50%;
  height: 100%;
  float: left;
}
#selectHazard {
  background: url(http://via.placeholder.com/480x120) no-repeat center bottom;
}
#selectHazard .value {
  position: absolute;
  top: 0;
}
#selectHazard .freeactions {
  position: absolute;
  top: 20px;
}
#selectHazard .reward {
  position: absolute;
  top: 220px;
  height:20px;
  width: 20px;
  background-color: #837613;
}
#hazard1 .value, #hazard1 .freeactions, #hazard1 .reward {
  left: 0;
}
#hazard2 .value, #hazard2 .freeactions, #hazard2 .reward {
  right: 0;
}
#battleHazard .value {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em;
}
#battleHazard .skills {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  overflow: auto;
}
#battleHazard .skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
#battleHazard .skills ul li {
  border-bottom: 1px solid #90bade;
  margin: 0;
}
#battleHazard .skills ul li a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 10px solid #1958b7;
  border-right: 10px solid #508fc4;
  background-color: #2175bc;
  color: #fff;
  text-decoration: none;
  width: 100%;
}
#battleHazard .skills ul li a:hover {
  border-left: 10px solid #1c64d1;
  border-right: 10px solid #5ba3e0;
  background-color: #2586d7;
  color: #fff;
}
#battleHazard .performAction {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2em;
  width: 50px;
  height: 50px;
  background-color: purple;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
#battleHazard .surrender {
  position: absolute;
  right: 0;
  bottom: 50px;
  font-size: 2em;
  width: 50px;
  height: 50px;
  background-color: red;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
